.App {
  display: grid;
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  -ms-grid-columns: minmax(300px, 1fr) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-column-align: center;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding-top: 57px;
  background-color: #dbd9d9;
}
